bottoken: YOUR_BOT_TOKEN
proxy: ""
bindmax: 999
goroutine: 20
admin: 
  - 358920093
errlimit: 9
notice: |-
  welcome!
cronconf:
  enabled: true
  task: "*/5 * * * *"
  notice: "*/30 * * * *"
workspace: "/var/lib/e5bot/"
tz: "America/Los_Angeles"
db: 
  dbtype: sqlite
  # mysql:
  #  host: 127.0.0.1
  #  port: 3306
  #  user: root
  #  password: pwd
  #  database: e5bot
  sqlite:
    dbfile: e5bot.db
ms:
  mail:
    autodeletemails:
      enabled: true
      keyword: ""
      keywords:
       - "xxxxxxxxxxxxxxx"
      foldername:
       - "Inbox"
       - "Sent Items"
      quantity: 20
      readunread: true
      readattachments: false
    readmails:
      enabled: true
      quantity: 20
      readunread: true
      readattachments: false
    readmailfolders:
      enabled: true
      quantity: 20
      readunread: true
      readattachments: true
    searchmails:
      enabled: true
      keyword: ""
      keywords:
       - "xxxxxxxxx"
      quantity: 20
      readunread: true
      readattachments: false
    autosendmails:
      enabled: true
      quantity: 20
      template: "email.html"
      templatecontent: ""
      tamplatetype: "html"
      subject: "xxxxxxxxxxxxxxx"
  file:
    listfiles:
      enabled: true
  calendar:
    listcalendars:
      enabled: true
    listevents:
      enabled: true
    listreminders:
      enabled: true
    getschedule:
      enabled: true
log:
    logintofile: true
    logfile: "log/latest.log"
    loglevel: "debug"
    # in MiB
    maxsize: 5
    # in days
    maxage: 7
    # quantity
    maxbackups: 20
    saveopdetails: false
    savetaskrecords: true